<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testSSM.test.dao.IMatchDao">
	<insert id="insert" parameterType="com.testSSM.test.model.fifa.Match">
		insert into match (id) values(#{id})
	</insert>

	<insert id="saveTeam" parameterType="com.testSSM.test.model.fifa.FootballTeam">
		insert into footballteam (registerCode,teamName,homeField,teamBoss,teamManager,registDate,registAddress,ageLimit)
		values
		(#{registerCode},#{teamName},#{homeField},#{teamBoss},#{teamManager},#{registDate},#{registAddress},#{ageLimit})
	
	</insert>

	<select id="getFootBallTeam" resultMap="myTeamMap">
		select id, teamName,homeField,registerCode,teamBoss,teamManager,registDate,registAddress,ageLimit
		from footballteam
	</select>
	
	<resultMap type="com.testSSM.test.model.fifa.FootballTeam" id="myTeamMap">
		<!--指定主键列的封装规则
        id定义主键会底层有优化；
        column：指定哪一列
        property：指定对应的javaBean属性
        -->
        <id column="id" property="id" />
        <id column="teamName" property="teamName"/>
        <id column="homeField" property="homeField" />
	</resultMap>
	
	<!-- 获取民族信息 -->
	<select id="getNations" resultMap="myNationMap">
		select id,name text
		 from nation
	</select>
	<resultMap type="java.util.Map" id="myNationMap">
		<!-- com.testSSM.test.pojo.NationPojo -->
		<id column="id" property="id"/>
		<id column="name" property="text"/>
	</resultMap>
	
	<!-- 获取学历信息 -->
	<select id="getEducation" resultMap="myEduMap">
		select id,name text
		from education
	</select>
	<resultMap type="java.util.Map" id="myEduMap">
		<id column="id" property="id"/>
		<id column="name" property="text"/>
	</resultMap>
</mapper>