<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyqin.mapper.EmployeeMapper">
    <!--
        Employee getEmpById(Integer id);
        void insertEmp(Employee employee);
    -->
    <select id="getEmpById" resultType="com.hyqin.bean.Employee" >
        select * from employee where id = #{id}
    </select>
    
    <insert id="insertEmp" >
        insert into employee(lastName,gender,email,did)
        values (#{lastName},#{gender},#{email},#{did})

    </insert>
</mapper>